
.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0;
}


.pop-enter {
  transform: scale(0);
  transition: transform .5s;
}

.pop-enter.pop-enter-active {
  transform: scale(1);
}

.pop-leave {
  transform: scale(1);
  transition: transform .5s;
}

.pop-leave.pop-leave-active {
  transform: scale(0);
}

